<directory "C:\dev\workspace\bank\web-bank">
    DirectoryIndex index.php
    AcceptPathInfo on
    AllowOverride All
    Options None
    Order allow,deny
    Allow from all
 
    Options +FollowSymLinks
 
	RewriteEngine on
	RewriteBase /bank
	RewriteCond $1 !^index\.php/
	RewriteRule ^(.*)$ index.php/$1 [L]
</Directory>
 
Alias /bank "C:\dev\workspace\bank\web-bank"